<div class="login-container">
  <div class="background-image">
    <div class="degrade-overlay"></div>
    <div class="card">
      <img src="assets/images/logo.png" class="logo" />
      <h2>INICIAR SESIÓN</h2>
      <form (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" placeholder="" />
        </mat-form-field>
        <button mat-raised-button type="submit" class="btn-login">
          INICIAR SESIÓN
        </button>
      </form>
    </div>
  </div>
</div>
