.external {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;

  .internal {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 58px;
    }
  }

  .table-head {
    background-color: #ffedc6;
    tr {
      border-bottom: none
    }
  }

  th,
  td {
    padding: 15px 20px;
    width: 280px;
  }

  tr {
    border-bottom: 1px solid #714d00;
  }

  .container-paginator {
    gap: 0px !important;
  }

  .table-head--title {
    color: #3e2a00;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .table-body--info {
    color: #3e2a00;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  .selector {
    display: block;
    width: 38px;
    border: none;
    font-size: 14px;
    color: #4c4e64ad;
    font-weight: 400;
    line-height: 38px;
    height: 38px;
    margin-right: 26px;
    margin-left:2px;
  }

  .external-container-paginator {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 13px;
  }

  .container-paginator {
    display: flex;
    align-items: center;
    gap: 10px;
    .mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base:first-of-type {
      margin-right: 12px;
    }
  }

  .alarms-by-page {
    font-size: 14px;
    line-height: 14px;
    color: #4c4e64ad;
    letter-spacing: 0.15px;
    font-weight: 400;
    &.alarms_cant {
      margin-right: 26px;
    }
  }

  .mat-mdc-icon-button.mat-mdc-button-base,span.mat-mdc-button-touch-target {
    width: 36px;
    height: 36px;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 5px;
  }


}








